/* fonts.css */

/* Canela Black */
@font-face {
  font-family: 'Canela Black';
  src: url('./canela/Canela-Black-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Black Italic */
@font-face {
  font-family: 'Canela Black Italic';
  src: url('./canela/Canela-BlackItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Canela Bold */
@font-face {
  font-family: 'Canela Bold';
  src: url('./canela/Canela-Bold-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Bold Italic */
@font-face {
  font-family: 'Canela Bold Italic';
  src: url('./canela/Canela-BoldItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Canela Light */
@font-face {
  font-family: 'Canela Light';
  src: url('./canela/Canela-Light-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Light Italic */
@font-face {
  font-family: 'Canela Light Italic';
  src: url('./canela/Canela-LightItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Canela Medium */
@font-face {
  font-family: 'Canela Medium';
  src: url('./canela/Canela-Medium-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Medium Italic */
@font-face {
  font-family: 'Canela Medium Italic';
  src: url('./canela/Canela-MediumItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Canela Regular */
@font-face {
  font-family: 'Canela Regular';
  src: url('./canela/Canela-Regular-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Regular Italic */
@font-face {
  font-family: 'Canela Regular Italic';
  src: url('./canela/Canela-RegularItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Canela Thin */
@font-face {
  font-family: 'Canela Thin';
  src: url('./canela/Canela-Thin-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Canela Thin Italic */
@font-face {
  font-family: 'Canela Thin Italic';
  src: url('./canela/Canela-ThinItalic-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Use the font-family names you defined in fonts.css */

/* Canela Black */
.canela-black {
  font-family: 'Canela Black', sans-serif;
  letter-spacing: 1px !important;
}

/* Canela Black Italic */
.canela-black-italic {
  font-family: 'Canela Black Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}

/* Canela Bold */
.canela-bold {
  font-family: 'Canela Bold', sans-serif;
  letter-spacing: 1px !important;
}

/* Canela Bold Italic */
.canela-bold-italic {
  font-family: 'Canela Bold Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}

/* Canela Light */
.canela-light {
  font-family: 'Canela Light', sans-serif;
  letter-spacing: 1px !important;
}

/* Canela Light Italic */
.canela-light-italic {
  font-family: 'Canela Light Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}

/* Canela Medium */
.canela-medium {
  font-family: 'Canela Medium', sans-serif;
  letter-spacing: 1px !important;
}

/* Canela Medium Italic */
.canela-medium-italic {
  font-family: 'Canela Medium Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}

/* Canela Regular */
.canela-regular {
  font-family: 'Canela Regular', sans-serif;
  letter-spacing: 1px !important;

}

/* Canela Regular Italic */
.canela-regular-italic {
  font-family: 'Canela Regular Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}

/* Canela Thin */
.canela-thin {
  font-family: 'Canela Thin', sans-serif;
  letter-spacing: 1px !important;
}

/* Canela Thin Italic */
.canela-thin-italic {
  font-family: 'Canela Thin Italic', sans-serif;
  font-style: italic;
  letter-spacing: 1px !important;
}
